.primary-button {
    font-weight: 300;
    color: rgba(22,33,19,1);
    background-color: #FCBE4D;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(22,33,19,1);
    border-radius: 8px;
    filter: drop-shadow(0.5rem 0.5rem 0.75rem rgba(22,33,19,1));
  }
  
  .primary-button:hover {
    color: rgba(22,33,19,1);
    background-color: #F1B441;
  }
  
  .secondary-button {
    font-weight: 300;
    color: #FCBE4D;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border: 1px solid #FCBE4D;
    border-radius: 8px;
  }
  
  .secondary-button:hover {
    color: #FCBE4D;
    background-color: #18201a;
    border: 1px solid #FCBE4D;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    align-content: center;
    justify-content: center;
    margin: 3rem 0;
  }

  @media screen and (max-width: 480px) {
    .button-container {
      flex-direction: column;
    }
  }