* {
 box-sizing: border-box;
}

:root {
  font-family: 'Visuelt', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #FCBE4D;
  text-decoration: underline;
}
a:hover {
  color: #d59e38;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(22,33,19);
  background: linear-gradient(30deg, rgba(22,33,19,1) 0%, rgba(53,79,46,1) 100%);
  /* background: rgb(33,53,71);
  background: linear-gradient(30deg, rgba(33,53,71,1) 0%, rgba(26,55,82,1) 35%, rgba(42,76,106,1) 100%); */
}

h1 {
  font-family: 'Recoleta', serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  .desktop-only {
    display: none;
  }
}